.cart {
    display: flex;
    flex-direction: column;

    &__list {
        display: flex;
        margin-bottom: 20px;

        &--empty {
            width: 100%;
        }
    }

    &__wrapper {
        background-color: white;
        padding: 20px 0;
    }
}

.empty-cart {
    text-align: center;
}

.open-cart__btn--wrapper {
    text-align: center;
  margin-bottom: 10px;
}

.order-amount__wrapper{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
    padding-top: 10px;
}

.total-sum {
    font-size: 20px;

    &__wrapper {
        text-align: center;
    }

    &__description {
        font-size: 20px;
        font-weight: bold;
        margin-right: 10px;
    }
}

.checkbox-label {
  position: relative;
  display: inline-flex;
  align-items: flex-end;
  margin-right: 20px;

}

.sort-checkbox {
  position: absolute;
  top: 2px;
  right: -20px;
}

.select--wrapper {
  width: 200px;
}

.sort-form--wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
