<div class="cart__wrapper">
    <div class="open-cart__btn--wrapper">
        <button (click)="onOpenCartClick()">{{cartBtnStatus}} cart</button>
    </div>
    
    <div *ngIf="isCartOpen" class="cart">
        <div *ngIf="phones.length; else emptyCart" class="cart__list">
            <app-cart-item
                *ngFor="let phone of phones; trackBy: trackByFn" 
                class="cart__item"
                [phone]="phone"
                [isPhoneInCart]="isCartOpen"
                (incrementPhoneInCart)="onIncrementPhoneBtn($event)"
                (decrementPhoneInCart)="onDecrementPhoneBtn($event)"
                (removePhoneFromCart)="onRemovePhoneBtn($event)"
            ></app-cart-item>
        </div>
        <ng-template #emptyCart>
            <div class="cart__list--empty">
                <h2 class="empty-cart">The cart is empty</h2>
            </div>
        </ng-template>

        <div *ngIf="phones.length" class="order-amount__wrapper"> 
            <div class="total-sum__wrapper">
                <span class="total-sum__description">Full order amount:</span>
                <span class="total-sum">{{orderSum}}</span>
            </div>
    
            <div class="clear-cart__btn--wrapper">
                <button (click)="clearCart()">Clear cart</button>
            </div>
        </div>
        
    </div>
</div>