<div class="cart__wrapper">
    <div class="open-cart__btn--wrapper">
        <button (click)="onOpenCartClick()">{{cartBtnStatus}} cart</button>
    </div>

    <div *ngIf="isCartOpen" class="cart">

      <div class="sort-form--wrapper" *ngIf="phones.length > 1">
        <label class="checkbox-label">
          <span>Sort by ascending:</span>
          <input type="checkbox" [(ngModel)]="isAsc" (click)="onCheckboxHandle()" class="sort-checkbox" >
        </label>
        <div class="select--wrapper">
          <ng-select
            (change)="changeFn($event)"
            placeholder="Choose field for sorting"
            [items]="sortingSelectList"
          ></ng-select>
        </div>
      </div>

        <div *ngIf="phones.length; else emptyCart" class="cart__list">
            <app-cart-item
                *ngFor="let phone of phones | orderBy : selectValue :isAsc trackBy: trackByFn"
                class="cart__item"
                [phone]="phone"
                [isPhoneInCart]="isCartOpen"
                (incrementPhoneInCart)="onIncrementPhoneBtn($event)"
                (decrementPhoneInCart)="onDecrementPhoneBtn($event)"
                (removePhoneFromCart)="onRemovePhoneBtn($event)"
            ></app-cart-item>
        </div>
        <ng-template #emptyCart>
            <div class="cart__list--empty">
                <h2 class="empty-cart">The cart is empty</h2>
            </div>
        </ng-template>

        <div *ngIf="phones.length" class="order-amount__wrapper">
            <div class="total-sum__wrapper">
                <span class="total-sum__description">Full order amount:</span>
                <span class="total-sum">{{(orderSum$ |async)?.totalSum}}</span>
            </div>

            <div class="total-sum__wrapper">
                <span class="total-sum__description">Phone in cart:</span>
                <span class="total-sum">{{(orderSum$ | async)?.productInCart}}</span>
            </div>

            <div class="clear-cart__btn--wrapper">
                <button (click)="clearCart()">Clear cart</button>
            </div>
        </div>

    </div>
</div>
