.cart {

    &__wrapper {
        width: 1200px;
        margin: 0 auto;
        background-color: white;
        padding: 20px 0;
    }
}

.empty-cart {
    text-align: center;
}

.open-cart__btn--wrapper {
    text-align: center;
}