<div class="product">
    <app-product
        [phone]="phone"
        [isPhoneInCart]="isPhoneInCart"
    ></app-product>
    <div class="counter__wrapper">
        <button (click)="decrementPhone(phone)">-</button>
        <span class="counter">{{phone.phoneInCart}}</span>
        <button (click)="incrementPhone(phone)">+</button>
    </div>
    <div class="total-cost__wrapper">
        <span>Total cost:</span>
        <span>{{totalCount}}</span>
    </div>
    <div class="remove-from-cart__btn--wrapper">
        <button class="remove-from-cart__btn" (click)="removeFromCart(phone)">remove from cart</button>
    </div>
</div>