.product {
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: white;
    border-radius: 5px;
    justify-content: space-around;
    height: auto;
    padding: 20px 0;
    align-items: center;
    cursor: pointer;

    &__image {
        width: 130px;
        height: 240px;
    }

    &__description-list {
        align-self: center;
        padding: 0;
    }
}

.add-btn,
.back-btn{
    padding: 5px 10px;

    &__wrapper {
        align-self: center;
      margin-bottom: 10px;
    }
}

.field-name {
    padding-right: 5px;
}

.counter {
  margin: 0 4px;

  &__wrapper {
    margin-bottom: 5px;
  }
}

.total-cost__wrapper {
  margin-bottom: 5px;
}

.remove-from-cart__btn--wrapper {
  margin-bottom: 5px;
}
