.first-component {
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 20px;
}

.product {
    display: flex;
    border: 1px solid black;

    &__list {
        padding-bottom: 20px;
    }

    &__image {
        width: 250px;
        height:  150px;
    }
}

.hidden {
    display: none;
}

.toggle-btn {
    text-align: center;

    &__wrapper {
        text-align: center;
        padding: 20px 0;
    }
}