<div class="form--wrapper">
  <form [formGroup]="productForm">
    <div class="formControl--wrapper">
      <input
        formControlName="name"
      />
    </div>

    <div class="formControl--wrapper">
      <input
        formControlName="name"
      />
    </div>

    <div class="formControl--wrapper">
      <input
        formControlName="image"
      />
    </div>

    <div class="formControl--wrapper">
      <input
        type="number"
        formControlName="price"
      />
    </div>

    <div class="formControl--wrapper">
      <input
        type="checkbox"
        formControlName="isAvailable"
      />
    </div>

    <div class="button--wrapper">
      <button [disabled]="!isFormValid" type="submit" (click)="onSubmit()">Submit</button>
    </div>
  </form>
</div>
